<% provide(:title, "勤怠表示") %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>時間管理表</td>
      <td>指定勤務時間：<%= format_basic_time(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_time(@user.basic_time) %></td>
      <td>月の初日</td>
    </tr>
    
    <tr>
      <td>所属：<%=@user.department.present? ? @user.department : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月の末日</td>
    </tr>
  </table>
</div>

<!-- テーブル -->
<table class="table-bordered table-striped table-condensed">
  <thead>
    <tr><!--rowspan:縦結合、colspan：横結合-->
      <th rowspan="2">日付</th>
      <th rowspan="2">曜日</th>
      <th colspan="3">出社</th>
      <th colspan="3">退社</th>
      <th rowspan="2">在社時間</th>
      <th rowspan="2">備考</th>
    </tr>
    
    <tr>
      <th>時</th>
      <th>分</th>
      <th></th>
      <th>時</th>
      <th>分</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% (@first_day..@last_day).each do |day| %>
      <tr>
        <td><%= day.to_s(:date) %></td>
        <td><%= %w{日 月 火 水 木 金 土 日}[day.wday] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>